.dashboard {
   direction: rtl;
   margin-top: 5rem;
}

.dashboard-form {
   display: flex;
   flex-direction: column;
   width: fit-content;
   gap: 3rem;
   margin: 0 auto;
}

.dashboard-form__filed {
   display: flex;
   justify-content: space-between;
   gap: 3rem;
}

.dashboard-form__label {
   font-weight: 700;
}

.dashboard-form__input {
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   border: 0.2rem solid #82aae3;
}

.dashboard-form__btn {
   border: none;
   background-color: #82aae3;
   padding: 0.8rem 1.7rem;
   border-radius: 0.5rem;
   font-size: 1.7rem;
   cursor: pointer;
   width: fit-content;
   margin-right: auto;
}

textarea.dashboard-form__input {
   resize: vertical;
}

.dashboard-form__btn:disabled {
   background-color: #dddada;
   cursor: default;
}
