.chosenDrug {
   direction: rtl;
   margin: 3rem auto;
   background-color: #91d8e4;
   padding: 2rem;
   border-radius: 2rem;
   width: 80%;
}

.chosenDrug-filed {
   display: flex;
   gap: 2rem;
   font-size: 1.8rem;
   margin-top: 3rem;
   align-items: center;
}

.chosenDrug-filed__label {
   font-weight: 700;
}

.chosenDrug-filed__answer {
   line-height: 3.8rem;
}
